<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763128680336-nc2pqf3pf0nj0qqnnf0qmk7tsjail5mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763128680336-nc2pqf3pf0nj0qqnnf0qmk7tsjail5mi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>763128680336-3lcgp529a4mbodsp7kpagakdq0o0vgre.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkVslg3ciJtyk3QgyhgJ4522xnq3q_9p4</string>
	<key>GCM_SENDER_ID</key>
	<string>763128680336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starifly.officialStarifly2020</string>
	<key>PROJECT_ID</key>
	<string>stariflyhk</string>
	<key>STORAGE_BUCKET</key>
	<string>stariflyhk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763128680336:ios:ae1a0b39f0ca7e606a6d15</string>
	<key>DATABASE_URL</key>
	<string>https://stariflyhk.firebaseio.com</string>
</dict>
</plist>